body {
    background: #686868;
    font-family: Verdana;
}

#content {

    padding-left: 15%;
    padding-right: 15%;
}

.box {
    display: inline-block;
    width: 300px;
    min-height: 100px;
    margin-top: 15%;
}

.box table th{
    text-align: center;
    background: #788a5d;
    color: lightgrey;
}

.box table{
    width: 230px;
    background-color: #2c2c2c;
    text-align: right;
    color: lightgrey;
    border-collapse: collapse;
}

